<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class = "container">
    <div class="row">
      <div class="col-md-6 center border">
        <form>
            <div class="form-group">
              <%= form.label :firstname, "First Name" %>
              <%= form.text_field :firstname, id: :patient_firstname, class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= form.label :lastname, "Last Name" %>
              <%= form.text_field :lastname, id: :patient_lastname, class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= form.label :address %>
              <%= form.text_field :address, id: :patient_address, class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= form.label :dob ,"Date of Birth" %>
              <%= form.text_field :dob, id: :patient_dob, class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= form.label :phoneno, "Phone Number" %>
              <%= form.number_field :phoneno, id: :patient_phoneno, class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= form.label :email %><br />
              <%= form.email_field :email, id: :patient_email, class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= form.label :infection %>
              <%= form.text_field :infection, id: :patient_infection, class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= form.label :injury %>
              <%= form.text_field :injury, id: :patient_injury, class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= form.label :priority %>
              <%= form.select :priority, ["Low", "Medium", "High"], class: "form-control" %>
            </div>
            
            <div class="actions">
              <%= form.submit nil, class: "btn" %>
            </div>
          <% end %>
          
          <%= link_to 'Back', patients_path ,{class: "btn"}%>
        </form>
      </div>
    </div>
  </div>