<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @patient.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @patient.phoneno %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Infection:</strong>
  <%= @patient.infection %>
</p>

<p>
  <strong>Injury:</strong>
  <%= @patient.injury %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @patient.priority %>
</p>

<%= form_tag ("/validate") do %>
<%= text_field_tag :suggest %>
<%= submit_tag "Suggestion" %>
<% end %>

<%= link_to 'Edit', edit_patient_path(@patient),{ :class => "btn"} %> 
<%= link_to 'Back', user_path(current_user),{ :class => "btn"} %>
